/* -------------------------------------------------- */
/*  Element styles */
/* -------------------------------------------------- */
body {
    padding: 20px;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300 !important;
}

a {
    color: black !important;
    text-decoration: underline black !important;
}

/* -------------------------------------------------- */
/*  The header */
/* -------------------------------------------------- */
#header {
    text-transform: uppercase;
}

#header .username {
    float: left;
    width: 75%;
}

#header .name {
    font-size: 3em;
}

#header .title {
    font-size: 2em;
    font-style: italic;
}

#header .contact {
    padding-top: 10px;
    font-size: 13px;
}

#header .contact .entry {
    margin-bottom: 15px;
}

#header .contact .icon {
    float: left;
    margin-right: 1em;
}

#header .contact .value {
    text-transform: none;
}

/* -------------------------------------------------- */
/*  Bio section */
/* -------------------------------------------------- */
#bio {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

#bio h2 {
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
}

/* -------------------------------------------------- */
/*  The large content holder */
/* -------------------------------------------------- */

#work-and-knowledge h2 {
    text-transform: uppercase;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.list li {
    margin-bottom: 10px;
}

.list li div.content {
    margin-left: 50px;
    margin-top: -40px;
    padding: 10px;
    background-color: white;
}

.list li i {
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
    /*border: 1px solid #ddd;*/
    border-radius: 50%;
    background-color: white;
}

.list i:after {
    content: '';
    width: 40px;
    height: 1px;
    position: absolute;
    /*background-color: #ddd;*/
    margin-top: 15px;
    z-index: -1;
}

.list:after {
    content: '';
    width: 1px;
    height: 100%;
    background-color: #ddd;
    position: absolute;
    top: 4px;
    left: 15px;
    z-index: -1;
}

.list div.company {
	font-size: 0.80em;
}

.list div.worktime {
	font-size: 0.60em;
}

.list ul.attributions li {
    margin: 0;
}

/* -------------------------------------------------- */
/*  Skills */
/* -------------------------------------------------- */

#skills .expertise {
    border: 1px solid #19bafe;
}

#skill-header div {
    font-size: 0.5em;
    text-transform: uppercase;
}

#skills .row {
    margin-bottom: 8px;
}

#skills h3 {
	font-size: 0.80em;
	padding-top: 5px;
}


/* -------------------------------------------------- */
/*  Projects  */
/* -------------------------------------------------- */
#projects .columns {
	/* border: 1px dashed gray; */
	min-height: 23em;
}

#projects .columns.header {
	min-height: 0px;
}


/* -------------------------------------------------- */
/*  Projects  */
/* -------------------------------------------------- */
#presentations .columns {
	/* border: 1px dashed gray; */
	/* min-height: 10em; */
}

#presentations .presentation {
	margin-bottom: 5px;
}

#presentations .columns.header {
	min-height: 0px;
}


/* -------------------------------------------------- */
/*  Generic */
/* -------------------------------------------------- */
.blue {
    color: #19bafe;
}
