.large-1,
.medium-1,
.small-1 {
	width: 8.33333%;
}

.large-2,
.medium-2,
.small-2 {
	width: 16.66667%;
}

.large-3,
.medium-3,
.small-3 {
	width: 25%;
}

.large-4,
.medium-4,
.small-4 {
	width: 33.33333%;
}

.large-5,
.medium-5,
.small-5 {
	width: 41.66667%;
}

.large-6,
.medium-6,
.small-6 {
	width: 50%;
}

.large-7,
.medium-7,
.small-7 {
	width: 58.33333%;
}

.large-8,
.medium-8,
.small-8 {
	width: 66.66667%;
}

.large-9,
.medium-9,
.small-9 {
	width: 75%;
}

.large-10,
.medium-10,
.small-10 {
	width: 83.33333%;
}

.large-11,
.medium-11,
.small-11 {
	width: 91.66667%;
}

.large-12,
.medium-12,
.small-12 {
	width: 100%;
}

#projects {
	display: none;	/* hiding till I figure out how to print them properly */
}

#events {
	display: none;	/* same as above */
}

body { 
	font-weight: 100 !important; 
	font-size: 0.8em;
}

#skills {
	font-size: 0.8em;
}
